body {
}

.mob-brand {
    font-size: 5em !important;
}

.mob-nav-text {
    font-size: 2.5em !important;
}

.navbar-toggler, .navbar-toggler-icon {
    padding: 2.5em !important;
}

.article-carousel {
    height: 30em !important;
    width: 100% !important;
    background-color: lightgray !important;
}

.carousel-pic {
    max-height: 30em !important;
    width: auto !important;
}

.video-embed {
    max-height: 20em !important;
}

.page-button {
    font-size: 2em !important;
}

.comment-box {
    width: 100%
}

.most-row {
    color: forestgreen !important;
}

.least-row {
    color: darkred;
}

.mobile-footer-button {
    text-align: center !important;
    display: block !important;
}